<link rel="stylesheet" href="/settingsUI/changePasswordPopup/style.css">
<body>
    
    <div class="main-password-popup-container hide">

        <div class="password-popup-container">

            <label for="current-password-input-field">Current password<br>
                <input type="text" id="current-password-input-field" class="input-field-design">
            </label>
        
        
            <label for="new-password-input-field">New password<br> 
                <input type="password" id="new-password-input-field" class="input-field-design">
            </label>
        
            <button class="change-password-btn">Change password</button>

        </div>

    </div>

</body>
<script src="/settingsUI/changePasswordPopup/script.js" type="module"></script>