<link rel="stylesheet" href="/settingsUI/changeProfilePicPopup/style.css">
<body>
    
    <div class="main-change-profile-pic-container hide">

        <div class="change-profile-pic-container">

            <button class="browse-file-btn">Browse Files</button>
            <input type="file" name="image-file" class="hide file-input-field" accept="image/jpeg, image/png">

        </div>

    </div>

</body>
<script src="/settingsUI/changeProfilePicPopup/script.js" type="module"></script>