<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
    <link rel="stylesheet" href="/savedJobsUI/style.css">
</head>
<body>
    
    <%-include ('../templates/headerDesign/index.ejs', {page: 'Saved Jobs'})%>

    <div class="main-container">
    
        <%-include ('../templates/jobListingDesign/index.ejs')%>

    </div>


</body>
<script src="/savedJobsUI/script.js" type="module"></script>
</html>