*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body, html{
    background-color: #1F1F1F;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Sidebar */

.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 18%;
    background-color: rgb(43,43,43);
    padding: 5px;


}


.option-design{
    font-size: 2vw;
    font-family: sans-serif;
    color: white;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    margin: 5px 0px;
    padding: 20px;
    cursor: pointer;

    transition: background-color 0.1s ease-in-out;
}

.option-design:hover{
    background-color: #0070ff99;

}
 
/* Main Settings Page */

.main-settings-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 82%;
    padding: 20px;
}

.main-settings-container .section-design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    border-radius: 5px;
    padding: 40px;

    background-color: rgb(43,43,43);
}

.main-settings-container .header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    font-size: 4rem;
    color: white;
}

/* Profile */

.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin: 20px 0px;

    font-family: sans-serif;
}

.profile-pic-container{
    background-color: white;
    border-radius: 30px;
    width: 6rem;
    height: 6rem;
    margin-right: 20px;
    cursor: pointer ;

    transition: border 0.1s ease-in-out;
}

.profile-pic-container:hover{
    border: 3px solid #0070ff99;
}

.username-container{
    font-size: 2.2rem;
    color: white;
}

.username-input-field{
    width: 23rem;
    height: 2rem;
    border-radius: 3px;
    border: 2px;
    font-size: 1.5rem;
    padding: 15px;
    margin: 5px 0px;
}



/* Account Settings (email, password info) */

.account-settings-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin: 20px 0px;

    font-family: sans-serif;
}


.button-design{
    width: 11rem;
    height: 3.2rem;

    font-size: 1.2rem;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border: 1px;

    transition: background-color 0.1s ease-in-out;
}

.button-design:hover{
    color: white;
    background-color: #0070ff99;
}


/* Email */

.email-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 10px 0px;
}

.email-container .title{
    font-size: 1.4rem;
    color: white;
    margin: 20px 0px;
}

.email-container .value{
    font-size: 1.2rem;
    color: grey;
}

.email-container .save-email-button{
    width: 9rem;
    margin: 0px 10px;
}


/* Password */

.password-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 10px 0px;
}

.password-container .title{
    font-size: 1.4rem;
    color: white;
    margin: 20px 0px;
}


.status-msg-design{
    color: green;
    font-size: 1.2rem;
}

.hide{
    display: none;
}


