<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
    <link rel="stylesheet" href="/yourJobsUI/style.css">
</head>
<body>
    
    <%-include ('../templates/headerDesign/index.ejs', {page: 'Your Jobs'})%>

    <div class="main-container">
    
        <%-include ('../templates/jobListingDesign/index.ejs')%>

        <div class="show-more-btn-container">
            <button class="show-more-btn">Show more</button>
        </div>
    </div>


</body>
<script src="/yourJobsUI/script.js" type="module"></script>
</html>