<link rel="stylesheet" href="/templates/headerDesign/style.css">

<div class="header">
    <button class="home-btn">
        Home
    </button>
</div>

<div class="page-heading">
    <span><%= page %></span>
</div>

<script src="/templates/headerDesign/script.js" type="module"></script>