<link rel="stylesheet" href="/settingsUI/changeEmailPopup/style.css">
<body>
    
    <div class="main-email-popup-container hide">

        <div class="email-popup-container">
            <label for="new-email-input-field">New email<br>
                <input type="email" id="new-email-input-field" class="input-field-design">
            </label>
        
        
            <label for="password-input-field">Current password<br> 
                <input type="password" id="password-input-field" class="input-field-design">
            </label>
        
            <button class="change-email-btn">Change email</button>
        </div>

    </div>

</body>
<script src="/settingsUI/changeEmailPopup/script.js" type="module"></script>